:root {
  --background-color: #f8f99f;
  --primary-color: #ffe4e6;
  --accent-color: #3d389a;
  --text-color: #881337;
  --text-size: 1.5rem;
  --ff-1: 'Caveat Brush';
  --ff-2: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 20px;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-20px) scale(2.2);
}

.center {
  transform: translateZ(-20px) scale(120%);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  text-align: right;
  background-color: var(--primary-color);
  background-color: rgba(255, 230, 232, .75);
  padding: 0px 60px;
  box-sizing: border-box;
}

header a {
  padding: 15px;
  text-decoration: none;
  font-family: var(--ff-2);
  font-size: 20px;
  color: var(--text-color);
  border-radius: 10px;
  display: inline-block;
}

header a:hover {
  color: var(--primary-color);
  background-color: var(--text-color);
}

header a:active {
  background-color: var(--accent-color);
}

.text1 {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

.text1 h2 {
  font-family: var(--ff-2);
  font-size: 36px;
  color: var(--text-color);
}

.text2 {
  text-align: center;
  padding-top: 40px;
}

.text2 h2 {
  font-size: 40px;
  line-height: normal;
  font-family: var(--ff-2);
  color: var(--text-color);
}

section {
  background-image: url('./imgs/tile_background3.webp');
  background-attachment: fixed;
  scroll-margin-top: 53px;
}

section article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

section article .article-image {
  width: 700px;
}

section article .article-image img {
  max-width: 100%;
  display: block;
  height: auto;
}

section article .article-title {
  width: 800px;
  margin: 0px 40px;
  text-align: center;
  text-wrap: balance;
}

section article .article-title span {
  font-size: 40px;
  line-height: 40px;
  color: var(--text-color);
  font-weight: 700;
}

section article .article-title span.big {
  font-size: 50px;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
}

footer p {
  margin: 0;
  color: var(--text-color);
  font-family: var(--ff-2);
}

footer div {
  font-size: 36px;
  display: flex;
  gap: 10px;
  color: var(--text-color);
}

footer a i {
  color: var(--text-color);
  transition: transform 0.3s ease;
}

footer a:hover i {
  transform: scale(1.2);
}

footer a:active i {
  color: var(--accent-color);
  transform: scale(0.9);
}

@media(max-width: 1200px) {
  header {
    padding: 0px 30px;
  }

  .text1 h2 {
    font-size: 32px;
  }

  .text2 {
    padding-top: 20px;
  }

  .text2 h2 {
    font-size: 30px;
  }

  section article {
    padding-bottom: 60px;
  }

  section article .article-image {
    width: 50%;
    margin: 0px 40px;
  }

  section article .article-title {
    width: 50%;
  }

  section article .article-title span {
    font-size: 30px;
    line-height: 30px;
  }

  section article .article-title span.big {
    font-size: 40px;
  }
}

@media(max-width: 991px) {
  .center {
    transform: translateZ(-20px) scale(80%);
  }

  .text1 h2 {
    font-size: 28px;
  }

  .text2 h2 {
    font-size: 24px;
  }

  section article .article-image {
    margin: 0px 20px;
  }

  section article .article-title {
    margin: 0px 20px;
  }

  section article .article-title span {
    font-size: 20px;
    line-height: 20px;
  }

  section article .article-title span.big {
    font-size: 30px;
  }
}

@media(max-width: 767px) {
  .center {
    transform: translateZ(-20px) scale(0.8);
  }

  header {
    padding: 0px;
    text-align: center;
  }

  header a {
    padding: 15px 10px;
    font-size: 12px;
    font-weight: 700;
  }

  section {
    scroll-margin-top: 44px;
  }

  .section {
    scroll-margin-top: 44px;
  }

  .text1 {
    padding: 20px 0px;
  }

  .text1 h2 {
    font-size: 26px;
  }

  section article {
    padding-bottom: 30px;
  }

  section article .article-image {
    width: 100%;
    margin: 0px 15px;
  }

  section article .article-title {
    width: 100%;
    margin: 0px 15px;
  }

  section article .article-title span {
    font-size: 16px;
    line-height: 16px;
  }

  section article .article-title span.big {
    font-size: 20px;
  }

  footer p {
    font-size: 12px;
  }

  footer div {
    font-size: 26px;
  }
}